body {
    color: rgb(56, 108, 187);
    background: rgb(193, 236, 243);
    margin: 12px;
    font-family: "Chakra Petch", Bebas Neue;
    margin-bottom: 100px;
}

header {
    border-bottom:solid 2px rgb(62, 157, 247);
    padding: 20px;
    font-size: 30px;
    color: rgb(62, 157, 247);
}

.chamada {
    background: rgb(114, 174, 230);
    padding-bottom: 85px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

div {
    margin-right: 20px;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
   
  .categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(11, 76, 136);
}

.categoria h2 {
    color: rgb(62, 157, 247);
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }